div {
  /*background-color: rgba(256, 256, 256, 0.75);*/
  padding: 1vw;
  margin: 2vw 1vw;
  max-width: 100vw;
  background-image: url('https://static.miraheze.org/baldisbasicswiki/f/f7/Page_bgc.png');
}
body {
    background-image: url('https://static.miraheze.org/baldisbasicswiki/9/97/Tiling_Numbers_BG.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

* {
    font-size: 1.75vh;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 3vh;
}

* {
    font-family:'Comic Sans MS','Comic Sans','ChalkboardSE-Regular','Rebus Script',sans-serif;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}